:root {

    --default-child-width:18rem;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {

    background: hsl(30, 38%, 92%);
}

.content-container {

    width: var(--default-child-width);
    background: white;
    padding: 2.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.content-product {

    font-family: "Montserrat";
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color:hsl(228, 12%, 48%)

}

.primary-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.img-container > img {

    display: block ;
    width: var(--default-child-width);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
}

main {

    display: flex;
    width: var(--default-parent-width);
    flex-direction: row;

}



