:root {

    --default-child-width:18rem;
    --default-font-price:2.0rem;
    --default-font-hashed:0.8rem;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {

    background: hsl(30, 38%, 92%);
}

.btn-cart {

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: green;
    border-radius: 0.5rem;
    border-style: hidden;
    height: 3rem;
}

.btn-cart:hover {

    background-color: darkgreen;
}

.btn-text {

    color:white;
    margin-left: 0.8rem;
    font-family: "Fraunces", sans-serif;
}

.content-container {

    width: var(--default-child-width);
    background: white;
    padding: 2.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.content-description {

    color:hsl(228, 12%, 48%);
}

.content-product {

    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color:hsl(228, 12%, 48%)

}

.primary-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.prices {

    display: flex;
    flex-direction: row;
}

.price-main {

    color:green;
    font-weight: bold;
    font-size: var(--default-font-price);
    font-family: "Fraunces", sans-serif;
}

.price-hashed {

    display: flex;
    color: hsl(228, 12%, 48%);
    text-decoration:line-through;
    font-size:var(--default-font-hashed);
    align-items: center;
    margin-left: 1rem;
}

.img-container > img {

    display: block ;
    width: var(--default-child-width);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

footer {

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    min-height: 5vh;
}

main {

    display: flex;
    width: var(--default-parent-width);
    flex-direction: row;

}



